* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: hsl(257, 40%, 49%);
    --color: hsl(300, 69%, 71%);
    --hd-color: white;
}

@media (max-width: 999px) {
    body {
        background: var(--bg-main);
        background-image: url("./images/bg-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #header {
        width: 85%;
        margin: auto;
        margin-top: 30px;
    }

    #header-img-container {
        height: 40px;
        width: 150px;
    }

    #header-img-container img {
        width: 100%;
        height: 100%;
    }

    .main {
        width: 100%;
        margin-top: 40px;
        overflow: hidden;
    }

    .container {
        width: 90%;
        margin: auto;
    }

    #main-img-container {
        width: 90%;
        margin: auto;
    }

    #main-img-container img {
        width: 100%;
    }

    #title-container {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    #title {
        font-family: 'Poppins', sans-serif;
        color: var(--hd-color);
        font-size: 25px;
        margin-top: 40px;
    }

    #paragraph-container {
        width: 95%;
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }

    #paragraph-container #paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: var(--hd-color);
    }

    #register-container {
        width: 200px;
        height: 40px;
        margin: auto;
        margin-top: 30px;
        background: white;
        border-radius: 20px;
    }

    #register-container #register {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 200px;
        color: var(--bg-main);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }

    .social-media-container {
        width: 55%;
        margin: auto;
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
    }

    .social-media {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-media a {
        width: 100%;
        height: 100%;
    }

    .social-media img {
        width: 100%;
        height: 100%;
    }

    #footer {
        padding-bottom: 5px;
        margin-top: 100px;
    }

    #footer .attribution {
        font-family: 'Poppins', sans-serif;
        color: var(--hd-color);
        text-align: center;
        font-size: 12px;
    }

    #footer .attribution a {
        text-decoration: none;
        color: yellow
    }
}

@media screen and (min-width: 1000px) {
    body {
        background: var(--bg-main);
        background-image: url("./images/bg-desktop.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #header {
        width: 70%;
        margin: auto;
        margin-top: 30px;
        margin-left: auto;
    }
    
    #header-img-container {
        height: 40px;
        width: 150px;
    }
    
    #header-img-container img {
        width: 100%;
        height: 100%;
    }
    
    .main {
        width: 100%;
        margin-top: 40px;
    }
    
    .container {
        width: 95%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    
    #main-img-container {
        width: 530px;
        height: 400px;
    }
    
    #main-img-container img {
        width: 100%;
        height: 100%;
    }
    
    .info {
        width: 30%;
        margin-left: 50px;
    }
    
    #title-container {
        text-align: left;
    }
    
    #title {
        font-family: 'Poppins', sans-serif;
        color: var(--hd-color);
        font-size: 35px;
        margin-top: 10px;
    }

    #paragraph-container {
        margin-top: 30px;
        text-align: left;
    }

    #paragraph-container #paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        color: var(--hd-color);
    }

    #register-container {
        width: 150px;
        height: 40px;
        margin-top: 30px;
        background: white;
        border-radius: 20px;
        text-align: center;
        line-height: 40px;
    }

    #register-container #register {
        height: 40px;
        width: 200px;
        color: var(--bg-main);
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
    }
    
    .social-media-container {
        width: 150px;
        float: right;
        margin-top: 60px;
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }
    
    .social-media {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-media a {
        width: 100%;
        height: 100%;
    }
    
    .social-media img {
        width: 100%;
        height: 100%;
    }
    
    #footer {
        padding-bottom: 5px;
        margin-top: 100px;
    }
    
    #footer .attribution {
        font-family: 'Poppins', sans-serif;
        color: var(--hd-color);
        text-align: center;
        font-size: 12px;
    }
    
    #footer .attribution a {
        text-decoration: none;
        color: yellow
    }
}

